.vs
Library
Temp
obj
Logs
ModAssetBundles
Assets/_ModAssets_/*
Assets/_ModAssets_.meta
*.sln
*.csproj
Assets/ModTools/*
.vsconfig
/.idea
/.Library
/.Logs
/.ModAssetBundles
/.obj
/.Packages
/.UserSettings
.bezisidekick/.settings.json
.bezisidekick/.user-settings.json
/Packages
Packages/packages-lock.json
Packages/packages-lock.json
Assets/Scripts/Volken/to-do.xml.meta
*.meta
Volken.sln.DotSettings.user
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
UserSettings
*.dwlt
